$inputWidth: 580px;

.coords-form-container,
.view-buttons-container,
.temp-buttons-container {
  display: flex;
  gap: 4px;
  align-items: flex-start;
}

.coords-form-container {
  width: $inputWidth;
  gap: 16px;
  align-items: flex-end;
}

.view-button-container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.coords-form-button {
  padding: 6px 12px;
  background-color: white;
  border: 1px solid orange;
  border-radius: 4px;
  cursor: pointer;
}
