* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.app-header,
.weather-info {
  text-align: center;
  padding: 16px;
}

.coords-source {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr;
  justify-content: center;
  justify-items: center;
}

.weather-info,
.coords-source {
  margin-top: 20px;
}

.days-container {
  margin-top: 20px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
