$inputWidth: 580px;

.app-header {
  text-align: center;
  padding: 16px;
}

input.coords-input {
  border-radius: 4px;
  padding: 6px;
  outline: none;
  border: 1px solid #007bff;
  &.error {
    border-color: red;
  }
  &.lat-lon-input {
    min-width: 250px;
  }
  &.search-input {
    width: 100%;
    width: $inputWidth;
  }
}

.locations-results-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 4px;
  margin-top: 4px;
  position: absolute;
  background-color: aliceblue;
  width: 100%;
  &.hidden {
    display: none;
  }
}

.result-container {
  border-radius: 4px;
  border: 1px solid gray;
  padding: 4px;
}

.search-container {
  position: relative;
}

.search-container,
.coords-form-container,
.view-buttons-container {
  min-height: 52px;
}

.coords-input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.coords-source {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr;
  justify-content: center;
  justify-items: center;
  margin-top: 20px;
}
